.ViewButton {
  width: 200px;
  font-size: 16px;
  height: 30px;
  margin: 10px;
  border-radius: 6px;
}
.ViewButton.active {
  background: green;
  color: white;
}
.SearchContainer--classic {
  width: 100%;
  height: 100vh;
  background: #dbe6ed;
}
.SearchContainer--google {
  background: #e8e9f5;
  width: 100%;
  height: 100vh;
}
