.CountrySearch {
  display: flex;
  flex-direction: column;
}

.CountrySearch input {
  font-size: 20px;
  width: 300px;
  height: 30px;
  margin: 0 auto;
  margin-top: 30px;
}
.searchSuggestions {
  width: 300px;
  margin: 0 auto;
  max-height: 300px;
  overflow: scroll;
  background: rgb(224, 219, 219);
}
.searchSuggestions p {
  margin: 5px 0;
}
.searchSuggestions p:hover {
  cursor: pointer;
}
