.CurrencyConverter {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.CurrencyConverter input {
  width: 150px;
  height: 20px;
  font-size: 16px;
  margin: 0 auto;
}

.CurrencyConverter button {
  width: 150px;
  height: 25px;
  margin: 10px auto;
}
.CurrencyConverter button:hover {
  cursor: pointer;
}

.CurrencyConverter .result {
  margin: 0 auto;
}
